html { 
  overflow-y: scroll; 
}

body {
  background-image: url('./images/backgroundpattern-sm-3.jpg');
  margin: 0px;
  background-size: 100px;
  font-family: 'Libre Baskerville', serif;
  color: #404040;
}

address {
  font-style: normal;
}

h1, h2, h3, h4, h5, h6, p { padding: 0; margin: 0; }

.pt-1 { padding-top: 1em; }
.pb-1 { padding-bottom: 1em; }
.pb-2 { padding-bottom: 2em; }
.pb-half { padding-bottom: 0.5em; }

.text-heading {
  font-family: 'Open Sans', sans-serif;
}

.container {
  margin: 20px 0px;
  padding: 400px 0px 200px 0px;
  background-image: url('./images/heart.png');
  background-size: 600px;
  background-repeat: no-repeat;
  background-position: center top;
}
  
.overlay { 
  height: 200px;
  background-color: #11799b;
  opacity: 0.70;
  text-align: center;
  box-shadow: 0px 5px 5px #404040;
}
  
.logo {
  height: 100%;
}

.content {
  margin: 0px 20px;
}

footer {
  text-align: right;
  margin-top: 2em;
  padding-bottom: 1em;
}

.img-circle {
  border-radius: 50%;
}

.text-center {
  text-align: center;
}

.content {
  max-width: 1100px;
  margin: auto;
}

.prefix-33 {
  margin-left: 33%;
}

.prefix-25 {
  margin-left: 25%;
}

.prefix-5 {
  margin-left: 5%;
}

.grid-90 {
  width: 90%;
}

.grid-50 {
  width: 50%;
}

.grid-33 {
  width: 33%;
}

.suffix-5 {
  margin-right: 5%;
}

.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
}

.img-centered {
  margin: auto;
}

header { 
  display: block;
  margin-bottom: 30px;
  background-color: #11799b;
  box-shadow: 0px 5px 5px #404040;
  white-space: nowrap;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}

.logo-wrap {
  height: 120px;  
}

nav { 
  width: auto;
  text-transform: uppercase;
  text-align: right;
}
nav a { color: #ffffff; margin-left: auto; padding-left: 1em; }
ul { margin: 0; padding: 0; }
ul, li { list-style: none; }

h3, a { color: #11799b; text-decoration: none; }

nav li { padding-left: 5%; float: right; }

.separator {
  border-top: 1px dashed #808080;
  margin: auto;
}

.gallery {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.gallery li {
  padding: 0 30px 30px 0;
}

.gallery li img {
  max-width: 100%;
  height: auto;
  transition: transform .3s ease-in-out;
}

.gallery a:hover img {
  transform: scale(1.05);
}

.social-icons li { 
  display: inline;
  padding-right: 0.5em; 
}
.social-icons img { 
  width: 30px; 
  transition: transform .3s ease-in-out;
}
.social-icons a:hover img {
  transform: scale(1.2);
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  .logo-wrap {
    height: 80px;
  }

  .header-content {
    height: 80px;
  }

  nav a {
    font-size: 12px;
  }

  .container {
    padding: 200px 0px 100px 0px;
    background-size: 300px;
    background-position: center center;
  }

  .overlay {
    height: 120px;
  }

  .mobile-prefix-10 {
    margin-left: 10%;
  }

  .mobile-grid-80 {
    width: 80%;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 1199px) {

}